@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins&family=Roboto&display=swap");

body {
  background: #a7c957;
  font-family: "Roboto", sans-serif, Helvetica;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  padding: 10px;
  color: black;
  line-height: 15px;
  font-family: "Poppins", sans-serif, Helvetica;
  font-size: 1.2em;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #92d46b;
}

nav {
  background: #6a994e;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  color: #f2e8cf;
  text-decoration: none;
  text-align: center;
  padding: 0.75em 0.75em;
  line-height: 1em;
  font-family: "Inconsolata", sans-serif, Helvetica;
  font-size: 1.1em;
}

nav a:hover {
  background: #f2e8cf;
  color: #386641;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

.logo {
  width: 80px;
  position: relative;
}

header {
  background: #6a994e;
  display: grid;
  grid-template-columns: 150px auto;
}

main section {
  text-align: center;
}

img {
  max-width: 100%;
}

main section img {
  box-sizing: border-box;
}

.home-title {
  font-family: "Poppins", serif, arial;
  color: black;
  font-size: 2.25em;
  margin-top: 10px;
}

#hero-img {
  width: 100%;
}

#hero-msg {
  text-align: center;
}

.book,
.join {
  background: #6a994e;
  color: #f2e8cf;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background: #f2e8cf;
  color: #386641;
}

.button-box {
  text-align: center;
  margin: 5em;
}

.card-img {
  border: 10px solid black;
  width: 30%;
  height: 300px;
  border-radius: 50%;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}

#background {
  background: #386641;
  height: 750px;
}

.mountains {
  width: 100%;
}

.msg {
  background: #436c2b;
  line-height: 1.5em;
  padding: 55px;
}

.msg h2 {
  color: white;
  font-family: "Poppins", serif, arial;
}

.msg p {
  color: white;
  font-size: 0.8em;
  padding-bottom: 15px;
}

#info {
  font-size: 0.75em;
  color: #f2e8cf;
}

footer {
  background: #386641;
  padding: 25px 50px;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p {
  font-size: 1.2em;
  color: #f2e8cf;
}

footer p a:hover {
  text-decoration: underline;
}

footer a {
  font-size: 0.75em;
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: blue;
}

footer .social img {
  padding-top: 15px;
}
