* {
  border: 2px blue solid;
}

body {
  margin: 0;
}

h1 {
  margin: 50px 0;
  text-align: center;
}

nav,
footer {
  text-align: center;
  background-color: steelblue;
  color: white;
  padding: 30px;
}

nav {
}

p {
  width: 80%;
}

a {
  font-size: 1.5em;
  color: white;
  padding: 25px;
}

img {
  width: 80%;
  display: block;
  margin: 0 auto;
}
main p {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

footer {
  background-color: steelblue;
  color: white;
}

footer p {
  font-size: 20px;
  margin: 20px auto;
  padding: 25px;
}

a:hover {
  background-color: white;
  color: steelblue;
}
